// contacto

.form-control{
    background-color: rgb(249, 249, 249);
}

::placeholder {
    color: rgb(255, 255, 255);
}


.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
    width: 100%;
    height: auto;
    padding: 50px;
}


.row{
    height: auto;
    width: 100%;
    
        .contacto{
            height: auto;
            width: 70%;
        }
}   


.btn{
    background-color: pink;
    color:rgb(66, 66, 66);
}


.iframe-adress{
        display: flex;
        margin-top: 10px;

        .mapa{
            width: 400px;
            height: 300px;
            margin: 50px 80px 50px 10px;
            border-radius: 5px;
        }
}



