// Error 404

.error404 p{
    text-align: center;
    padding: 30px;
}


.button-container{
    text-align: center;
    margin-bottom: 50px;
    
}

.video-error404{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


