// Error 404

.error404{
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 10px;
}

.video-error404{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 50px;
    
}

