// Error 404 page

.error404 p{
    text-align: center;
    padding: 30px;
}


.button-container{
    text-align: center;
    margin-bottom: 50px;
    
}

.video-error404{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.video-404{
    width: 75%;
    height: auto;
    box-shadow: 0px 3px 5px -2px;
}