// footer

.footer-contenedor{ 
    flex-direction: column;
    font-size: 14px;
        .contacto1{
            margin: 20px 10px;
            
        }
            .iconosredes img{
                margin: 5px 10px;
                }
}