// Media queries

@media (max-width: 768px) {
        .parrafo {
        flex-direction: column;
    
            .descripcion {
                width: 100%;
            }
    }
  
    .producto,
    .claseproductos {
        flex-direction: column;
        height: auto;
        margin-bottom: 0;
    }
  
    .card {
      width: 90%;
      margin-top: 0;
    }
  
    .productos figure {
      width: 80%;
      margin: 10px;
    }
  
    .container-saleimg {
      display: flex;
      flex-direction: column;
  
      img {
        width: 80%;
      }
    }
  
    .articulos h3 {
      font-size: 20px;
    }
  
    .articulos {
      grid-template-rows: 150px;
    }
  
    .portada {
      width: 100%;
      height: 200px;
  
      img {
        width: 100%;
        height: 150px;
      }
    }
  
    .container-articulos,
    .container-productos {
      display: flex;
      flex-direction: column;
  
      img {
        width: 90%;
      }
    }
  
    .formulario {
      display: block;
      text-align: center;
      padding: 20px;
  
      .form-control {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  
    .iframe-adress {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
  
      .mapa {
        width: 100%;
        height: auto;
        margin: 0;
      }
    }
  }
