//nav


.logo{
    display: block;
    width: 200px;
    height: auto;
    margin: 0 auto;

    img{
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
}
}

//nav

.botones{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: pink;

}

.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}


.imagenHome img{
    width: 100%;
    height: auto;
    object-fit: cover;
}