@import "_mixin";

.articulos {  
   // display: grid;
    //grid-template-columns: 1fr 1fr 1fr;
   // grid-template-rows: 400px 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    /*   grid-template-areas:
        "portada portada portada"
        "articulos articulos articulos"
        "productos productos productos";*/
      margin-bottom: 10%;
      @include articulos(1fr 1fr 1fr, 400px 1fr 1fr,"portada portada portada" "articulos articulos articulos" "productos productos productos");
  }

  h2 { grid-area: titulo;}
  
  .portada { grid-area: portada;}
  
  .container-articulos{ grid-area: articulos;}
  
  .container-productos { grid-area: productos;}
  

    .articulos h2{
        text-align: center;
    }

        .articulos h3{
            font-size: 30px;
        }

        .portada img{
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
   
            .container-articulos img{
                width: 30%;
                height: auto;
                margin: 20px 10px;
                border-radius: 10px;
            }

                .container-productos img{
                    width: 30%;
                    height: auto;
                    margin: 20px 10px;
                    border-radius: 10px;
                }

