// variables globales


//colores principales

$maincolor: pink;
$secondarycolor: aquamarine;
$backgroundocolor-site: #f8ecde;
$colorh1: rgb(150, 99, 210);
$categoriecolortext: black;
$colortextindex: gray;
$color-cardcomprar: rgb(252, 248, 248);
$color-fondocard: rgb(252, 248, 248);



//fonts

$mainfont:'Oswald', sans-serif;
 


// Tamaños de fuente

$font-size-p: 20px;
$font-size-p2: 18px;
$font-size-h1: 40px;
$font-size-h2: 30px;
$font-size-titlecardproduct: 1.6em;
$font-size-7: 14px;
