// variables globales

//colores principales

$maincolor: pink;
$secondarycolor: aquamarine;
$backgroundoclor-site: white;
$colorh1eachsite: rgb(150, 99, 210);
$categoriecolortext: black;
$colortextindex: gray;
$color-cardcomprar: rgb(252, 248, 248);
$color-fondocard: rgb(252, 248, 248);



//fonts
$mainfont:'Oswald', sans-serif;
 

//weight
$textbold:600;
$texlight:300;
$textregular:400;



//chat gpt

// Colores
$maincolor: pink;
$secondarycolor: aquamarine;
$backgroundoclor-site: white;
$colorfondo: rgb(252, 248, 248);
$colorh1eachsite: rgb(150, 99, 210);
$categoriecolortext: rgb(14, 14, 14);
$color-whitecard: #FFFFFF;
$colortextindex: #808080;


// Tamaños de fuente
$font-size-1: 20px;
$font-size-2: 18px;
$font-size-3: 30px;
$font-size-4: 1.6em;
$font-size-5: 1.2em;
$font-size-6: 70px;
$font-size-7: 14px;

// Espaciados
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 30px;

// Otros valores
$border-radius: 5px;
$button-padding: 10px;


